//npm.pkg.github.com/:_authToken=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
@asifOrg1:registry=https://npm.pkg.github.com/asifOrg1
progress=true
strict-ssl=false
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
no-progress=false
legacy-peer-deps=true
