//npm.pkg.github.com/:_authToken=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
@asifOrgGithub:registry=https://npm.pkg.github.com/asifOrgGithub
progress=true
strict-ssl=false
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
no-progress=false
legacy-peer-deps=true
