//npm.pkg.github.com/:_authToken=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
@asifOrgGithub:registry=https://npm.pkg.github.com/asifOrgGithub
progress=true
strict-ssl=false
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
no-progress=false
legacy-peer-deps=true
